name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

env:
  HF_ALLOW_CODE_EVAL: 1

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install transformers==4.21.1 accelerate==0.13.2 datasets==2.6.1 evaluate==0.2.2 pyext==0.7 mosestokenizer==1.0.0 "fsspec<2023.10.0"
      #- name: Lint with flake8
      #  run: |
      #    flake8 .
      - name: Test with pytest
        run: |
          python -m pytest tests/
